# Dependencies
node_modules/

# Firebase
.firebase/
firebase-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Import data
scripts/*.xml
*.WordPress*.xml
*.webflow.zip
scripts/serviceAccountKey.json
*firebase-adminsdk*.json


# Environment
.env
.env.local
